{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your account details before creating an account
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "john.smith@homeoffice.gov.uk"
            },
            actions: {
              items: [
                {
                  href: "your-email.html",
                  text: "Change",
                  visuallyHiddenText: "Your email address"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "First name"
            },
            value: {
              text: "John"
            },
            actions: {
              items: [
                {
                  href: "your-name.html",
                  text: "Change",
                  visuallyHiddenText: "Your full name"
                }
              ]
            }
          } 
          ,
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Smith"
            },
            actions: {
              items: [
                {
                  href: "your-name.html",
                  text: "Change",
                  visuallyHiddenText: "Your full name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Password"
            },
            value: {
              text: "**********"
            },
            actions: {
              items: [
                {
                  href: "create-password.html",
                  text: "Change",
                  visuallyHiddenText: "Password"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Confirm password"
            },
            value: {
              text: "**********"
            },
            actions: {
              items: [
                {
                  href: "create-password.html",
                  text: "Change",
                  visuallyHiddenText: "Password"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Declerations
      </h2>

      <p>
        By creating an account you are confirming that, 
        <ul class="govuk-list govuk-list--bullet">
         
        <li>to the best of your knowledge, the details you are providing are correct.</li>
        <li>you agree to the <a href="#" target="_blank">terms and conditions<svg class="govuk-!-margin-left-1" xmlns="http://www.w3.org/2000/svg" height="13" width="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg><span class="govuk-visually-hidden">(opens in new tab)</span></a> of Prevent Training Portal.</li>

      </ul>


      </p>
      <br /><br />
      <form action="confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and submit"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
