{% extends "layouts/main.html" %}

{% set pageName="Index" %}



{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-m">
      DASHBOARD
     </h1>
    

    <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br />
   
    <hr />
   



  </div>
</div>

{% endblock %}
