{% extends "layouts/main.html" %}

{% set pageName="Index" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="check-your-phone-sign-in" method="post" novalidate="">



      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="password">
            Enter your password
          </label>
        </h1>

        <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password"
          spellcheck="false" autocomplete="password">

      </div>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>


    </form>

    <p class="govuk-body"><a href="#" class="govuk-link">I’ve forgotten my password</a></p>

  </div>
</div>


{% endblock %}

{% block pageScripts %}
<script>



</script>
{% endblock pageScripts %}